<div class="rows">
  <div class="row">
    <app-light-component [color]="'red'" [threshold]="55"></app-light-component>
    <app-light-component [color]="'blue'" [threshold]="35"></app-light-component>
    <app-light-component [color]="'green'" [threshold]="15"></app-light-component>
  </div>
  <div class="row">
    <app-light-component [color]="'yellow'" [threshold]="77"></app-light-component>
    <app-light-count-component></app-light-count-component>
    <app-light-component [color]="'orange'" [threshold]="23"></app-light-component>
  </div>
  <div class="row">
    <app-light-component [color]="'purple'" [threshold]="91"></app-light-component>
    <app-light-component [color]="'cyan'" [threshold]="17"></app-light-component>
    <app-light-component [color]="'pink'" [threshold]="7"></app-light-component>
  </div>
</div>
